body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  font-family: sans-serif;
  background-color: #222;
}

main {
  height: 3.5em;
}

button, div {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

button, input, label, select {
  font-size: inherit;
  font-family: inherit;
  color: #ccc;
  background-color: #000;
  box-sizing: border-box;
}

button {
  padding: 0 2vw;
}

button:hover {
  color: #fff
}

button, input {
  border: 0.5vw outset #999;
  border-radius: 2vw;
  background-color: #000;
}

label, input {
  width: 20vw;
}

input, select {
  text-align: right;
}

label {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 0.5em;
  display: flex;
  justify-content: space-between;
}

label.hidden ~ input {
  height: 100%;
}

.hidden {
  display: none;
}

input {
  font-size: 2em;
  padding-top: 0.5vw;
  border-style: inset;
  color: #0b0;
}